html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}


.s {
    font-family: SignPainter-HouseScript;
    color: white;
    font-weight: lighter;
    font-size: 300%;
    margin-top: 27%;
    margin-left: 3%;
 
}
.plitter{
    font-family: SignPainter-HouseScript;
    color: white;
    font-size: 150%;
    font-weight: lighter;
    margin-top: 27%;
}
.split{
    color: rgba(227, 174, 32, 1);
    margin-left: 20%;
    position: relative;
    top: -68px;
    left: -5%;
    font-size: 50%;
}
.bill-head {
  background-image: url('dashboard/bill_header_bg.png');
  background-position: 0 0; 
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bill-head{
  margin-left: 30%;
}
.right {
  border-left: 2px solid rgba(151, 151, 151, 1);
  height: 50px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 50%;
}
.right2 {
  border-left: 2px solid rgba(151, 151, 151, 1);
  height: 50px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 75%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 28px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
